.movies-card-list {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1140px;
  min-height: 100vh;
}

.movies-card-list__list {
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .movies-card-list__list {
    width: 100%;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }
}

@media screen and (max-width: 831px) {
  .movies-card-list {
    max-width: 708px;

  }
  .movies-card-list__list {
    gap: 41px 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies-card-list__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 426px) {
  .movies-card-list__list {
    gap: 44px 30px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card-list {
    max-width: 300px;
  }
}
