.menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__main {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  display: none;
  transform: opacity 0.4s;
}
.menu__main.active {
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}
.menu__main:hover {
  opacity: 0.7;
}

.menu__links {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.menu__link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 13px;
  transform: opacity 0.4s;
}

.menu__link:hover {
  opacity: 0.7;
}

.menu__link.active {
  font-weight: 500;
}

.menu__profile {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding: 1px 4px 2px 0px;
  text-decoration: none;
  width: 100px;
  height: 32px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  color: inherit;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  transform: opacity 0.4s;
}

.menu__profile:hover {
  opacity: 0.7;
}

.menu__profile-icon {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: #F9F9F9;
  object-fit: none;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-159%);
    transition: all 0.6s;
    z-index: 1;
  }
  .menu_active {
    transform: translateY(0);
  }
  .menu__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.3;
  }
  .menu__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 520px;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
  }
  .menu__main {
    margin: 163px 0 29px;
    display: inherit;
  }
  .menu__links {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    text-decoration: none;
  }
  .menu__link {
    flex-direction: column;
    row-gap: 28px;
    font-weight: 500;
    font-size: 18px;
  }
  .menu__link.active {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  }
  .menu__profile {
    margin-bottom: 92px;
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .menu__overlay {
    display: none;
  }
  .menu__content {
    width: 100vw;
  }
  .menu__main {
    margin: 144px 0 24px;
  }
  .menu__links {
    row-gap: 27px;
  }
  .menu__profile {
    margin-bottom: 47px;
  }
}
