.filter-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
	height: 28px;
  width: 100%;
	line-height: 28px;
	margin-top: 29px;
	position: relative;
	vertical-align: middle;
	user-select: none;
}
.filter-checkbox__checkbox-switch {
  position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 34px;
	height: 14px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 25%/50%;
	vertical-align: top;
	background: #eee;
	transition: .2s;
  cursor: pointer;
  margin-right: 14px;
}

.filter-checkbox__checkbox-switch:before {
  content: '';
	position: absolute;
	top: 0;
	left: 1px;
	display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: white;
	transition: .15s;
}
.filter-checkbox__checkbox-switch:hover {
  opacity: 0.7;
}

.filter-checkbox__checkbox-title {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.filter-checkbox input[type=checkbox] {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.filter-checkbox input[type=checkbox]:checked + .filter-checkbox__checkbox-switch {
	background: #2BE080;
}
.filter-checkbox input[type=checkbox]:checked + .filter-checkbox__checkbox-switch:before {
	transform:translateX(19px);
}

@media screen and (max-width: 831px){
.filter-checkbox {
    max-width: 708px;
    padding: 0;
  }
}

@media screen and (max-width: 768px){
  .filter-checkbox {
    flex-direction: row-reverse;
    margin-top: 26px;
    }
    .filter-checkbox__checkbox-switch {
      margin-right: 0;
      margin-left: 18px;
    }
  }
  @media screen and (max-width: 519px) {
    .filter-checkbox {
      justify-content: center;
    }
  }
  @media screen and (max-width: 375px) {
    .filter-checkbox {
      margin-top: 36px;
    }
    .filter-checkbox__checkbox-title {
      font-size: 11px;
    }
    .filter-checkbox__checkbox-switch {
      margin-left: 14px;
    }
  }
